<!DOCTYPE html>
<html lang="en">
<head>
  <title>Search Results</title>
  <style>
    .movie {
      width: 200px;
      display: inline-block;
      vertical-align: top;
      border: 2px solid black;
      margin-bottom: 5px;
      padding-left: 5px;
    }
    h2 {
      display: inline;
    }
  </style>
</head>
<body>
    <a href="/">Return to Search</a>

    
</body>
</html>
